PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-05-17 19:45:12.821562');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-05-17 19:45:12.856454');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2024-05-17 19:45:12.879310');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'2','11713104',1,'[{"added": {}}]',4,1,'2024-05-17 19:46:57.168500');
INSERT INTO django_admin_log VALUES(2,'11713104','Student object (11713104)',1,'[{"added": {}}]',7,1,'2024-05-17 19:49:09.801914');
INSERT INTO django_admin_log VALUES(3,'11713104','Student object (11713104)',2,'[]',7,1,'2024-05-17 19:49:32.919025');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$720000$wCQhAc8XQnbhegYc8uyPgt$XxH0bg/cKSrFSTp6NcBJWfFHNWdQB0mpd0kGYr3gR/U=','2024-05-19 16:28:44.962951',1,'admin','','accountmail@gmx.at',1,1,'2024-05-17 19:45:41.592573','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$720000$01lCZloQtyrvuILXj27gXr$HKafNk8TnwMOVjr5n3JLB5Vo4s0CoStC19nPCM9ZrbQ=','2024-05-18 08:55:15.841850',0,'11713104','Cetin','berkan.cetin@edu.uni-graz.at',0,1,'2024-05-17 19:46:56','Berkan');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$720000$cX6if1LzPaitg2nebMTRqn$iJKqoh9XQvHxfzFxL4R17ygoY4wrhdeeiE2+W9zTBL0=','2024-05-18 08:55:34.136951',0,'12339779','Huber','ss.huber@edu.uni-graz.at',0,1,'2024-05-17 19:50:43','Sarah Sophia');
CREATE TABLE IF NOT EXISTS "score_writtenexam" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "exam_date" date NOT NULL, "exam_number" integer NOT NULL, "exam_topic" varchar(128) NOT NULL, "reached_points" real NULL, "max_points" real NOT NULL, "exam_front_page" varchar(100) NULL, "exam_back_page" varchar(100) NULL, "student_id" integer NOT NULL REFERENCES "score_student" ("immatriculation_number") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO score_writtenexam VALUES(1,'2024-05-17',7,'Chemisches Gleichgewicht',7.0,10.0,'12342069_1.jpeg','12342069_2.jpeg',12342069);
INSERT INTO score_writtenexam VALUES(2,'2024-05-17',7,'Chemisches Gleichgewicht',5.0,10.0,'11822826_1.jpeg','11822826_2.jpeg',11822826);
INSERT INTO score_writtenexam VALUES(3,'2024-05-17',7,'Chemisches Gleichgewicht',10.0,10.0,'12346874_1.jpeg','12346874_2.jpeg',12346874);
CREATE TABLE IF NOT EXISTS "score_participation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "reached_points" real NULL, "max_points" real NOT NULL, "student_id" integer NOT NULL REFERENCES "score_student" ("immatriculation_number") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO score_participation VALUES(1,0.0,2.0,1022928);
INSERT INTO score_participation VALUES(2,2.0,2.0,11713104);
INSERT INTO score_participation VALUES(3,2.0,2.0,11822826);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('gqo1ew9kfpd97gah73toek7bcbbik9kx','.eJxVjEsKwjAUAO-StYSXT9PWpXvPUN5PU5UEmnYl3l0KXeh2Zpi3mXBb87Q1XaZZzNk4MKdfSMhPLbuRB5Z7tVzLusxk98QettlrFX1djvZvkLHl_aukvYTkPaSuY6YxdqM45QRBmH30wygJkPoAKZC_qQMZEJgjoCM1ny8E_Dg-:1s8kjf:z4byO8JOQZrIf4_wqVn6zlcr12Ij0WbILWh9IdWWBLA','2024-06-02 17:54:15.611293');
INSERT INTO django_session VALUES('dvt1fpaepzcc5kj2ibhfwgdzshsu3qip','.eJxVjDkOwjAUBe_iGll27Hw7lPScIfqbSQA5UpYKcXeIlALaNzPvZXrc1qHfFp37UczZeGdOvyMhP7TuRO5Yb5Plqa7zSHZX7EEXe51En5fD_TsYcBm-dchtgJKSjyFBkS47co0IB6SUMzKQY8qgqsGDlpYiNxhyFGpABTrz_gD_3jhv:1s8opA:1jmelsgibcyUhA6jl8Xbuy-mYzyhv4hcu6GLNvdouXY','2024-06-02 22:16:12.295526');
CREATE TABLE IF NOT EXISTS "score_student" ("immatriculation_number" integer NOT NULL PRIMARY KEY, "student_user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "notes" varchar(128) NOT NULL);
INSERT INTO score_student VALUES(1234,10,'test student');
INSERT INTO score_student VALUES(1022928,5,'null');
INSERT INTO score_student VALUES(11713104,2,'null');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',20);
INSERT INTO sqlite_sequence VALUES('django_admin_log',85);
INSERT INTO sqlite_sequence VALUES('django_content_type',9);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "score_writtenexam_student_id_3850d7bb" ON "score_writtenexam" ("student_id");
CREATE INDEX "score_participation_student_id_5b89995d" ON "score_participation" ("student_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "score_student_student_user_id_a98cd650" ON "score_student" ("student_user_id");
COMMIT;
